@import "../../global.scss";

.projectCard {
  background-color: $mainColor;
  width: 300px;
  height: 150px;
  color: white;
  padding: 15px;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  justify-content: space-between;
  font-family: "Inconsolata", monospace;

  &:hover {
    background-color: rgb(207, 207, 207);
    color: $mainColor;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  h3,
  p {
    margin: 10px 10px;
    font-family: inherit;
  }
  .thirdline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .technology {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        margin-right: 5px;
      }
    }

    .linktogithub {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        margin-right: 5px;
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
