@import "../../global.scss";

.skillcard {
  background-color: #cfcfcf;
  width: 110px;
  height: 150px;
  display: flex;
  margin: 15px;
  transition: all 1s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex-direction: column;
  transition: all 1s ease;

  &:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }

  .icon {
    flex: 3;

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 80%;
    }
  }

  .infos {
    display: flex;
    transition: all 1s ease;
    flex: 1.2;
    justify-content: center;
    align-items: center;

    h3 {
      font-weight: 600;
      font-family: "Inconsolata", monospace;
    }
  }
}
