@import "../../global.scss";

.expcard {
  display: flex;
  width: fit-content;
  height: fit-content;
  background-color: $mainColor;
  border-radius: 5px;
  color: white;
  margin: 15px;
  transition: all 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:hover {
    background-color: #cfcfcf;
    color: $mainColor;
  }

  .image {
    background-color: #cfcfcf;
    img {
      width: 130px;
      height: inherit;
      padding: 10px;
    }
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .separator {
    flex: 0.05;
    background-color: $mainColor;
  }

  .infos {
    padding-right: 15px;
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;

    h1 {
      font-size: 25px;
      font-family: "Inconsolata", monospace;
      font-weight: normal;
      margin-top: 15px;
      margin-bottom: 7px;
      font-weight: 600;
    }
    .business {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      h2 {
        margin-left: 10px;
        font-size: 20px;
        font-family: "Inconsolata", monospace;
        font-weight: normal;
      }
    }

    .lastline {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      p {
        margin-right: 20px;
        margin-left: 6px;
        font-size: 12px;
        font-family: "Inconsolata", monospace;
      }
    }
  }
}
